.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #282c34;
    padding: 1rem 2rem;
    color: white;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.2rem ;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0.2rem ;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #61dafb;
}

.logout {
    background-color: whitesmoke; /* Cambia el color de fondo */
    color: #282c34; /* Cambia el color del texto */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem; /* Ajusta el tamaño del botón */
    transition: background-color 0.3s, transform 0.2s; /* Efectos de transición */
}

.logout:hover {
    background-color: #whitesmoke; /* Color al pasar el mouse */
    color: #282c34; /* Cambia el color del texto al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.logout:active {
    background-color: whitesmoke; /* Color al hacer clic */
    transform: scale(0.95); /* Efecto de reducción */
}